.contactInfoContainer {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
  color: white;
}

.contactItem {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.contactIcon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.contactDetails {
  line-height: 1.5;
  color: white;
}
.contactContainer {
  flex: 1;
  width: 90vw;
  margin: auto;
}
