.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vh;
  align-items: center;
  border: #6e6a99 3px solid;
  border-radius: 10px;
  padding: 20px;
  flex-basis: 400px;
  height: 250px;
}
.image {
  width: 80%; /* Use 100% width */
  height: 80%; /* Use 100% height */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.title {
  /* ... other styles ... */
  overflow: hidden; /* Hide any content that overflows the title container */
  text-overflow: ellipsis; /* Display an ellipsis (...) to indicate text overflow */
  white-space: nowrap; /* Prevent the text from wrapping to the next line */
}
